html{
    font-size: 62.5%;
}

body{
    background: $body-color;
    font-family: helvetica,Arial,sans-serif;
    font-size: $m-size;
}

button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}